<!doctype html>
<html lang="en">
<head>
    <title> Вход </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../Content/fonts/icomoon/style.css" type="text/css" />

    <link rel="stylesheet" href="../../Content/css/owl.theme.default.min.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/css/bootstrap/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/css/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/css/owl.theme.default.min.css" type="text/css" />

    <link rel="stylesheet" href="../../Content/css/jquery.fancybox.min.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/css/bootstrap-datepicker.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/fonts/flaticon/font/flaticon.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/css/aos.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/css/style.css" type="text/css" />
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-4">
                        <h1 class="m-0 site-logo "> <a href="~/Home/Index" class="text-black">Блог</a></h1>
                    </div>
                    <div class="col-8">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li><a href="~/Home/Index" class="nav-link text-black"> Главная </a></li>
                            </ul>
                        </nav>
                        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a>
                    </div>
                </div>
            </div>
        </header>

        <section class="site-section bg-light" id="blog-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-5 position-relative">
                        <h2 class="section-title text-center mb-5"> Ваши статьи </h2>
                    </div>
                    <div class="container">
                        <div class="owl-carousel slide-one-item">
                            @foreach (var b in ViewBag.Articles)
                            {
                                <div class="col-md-12 mb-12 mb-lg-12 col-lg-12">
                                    <div class="blog_entry">
                                        <div class="p-4 bg-white">
                                            <h3><a href="/Home/ReadArticle/@b.Id"> @b.Name </a></h3>
                                            <p> @b.Content </p>
                                            <p class="more">
                                                <a href="/Home/ReadArticle/@b.Id" style="margin-right: 10px"> Читать далее... </a>
                                                <a href="/Home/EditArticle/@b.Id" style="margin-right: 10px"> Изменить </a>
                                                <a href="/Home/DeleteArticle/@b.Id"> Удалить статью </a>
                                            </p>

                                            <!-- <p class="left">Просмотров: @Model.Views </p> -->
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row justify-content-center">
                            <p data-aos-delay="200"><a href="/Home/CreateArticle" class="btn smoothscroll btn-primary"> Написать статью </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <footer class="site-section bg-light footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This template is made with <i class="icon-heart"
                                                                                          aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </footer>

    </div> <!-- .site-wrap -->


    <script src="../../Content/js/jquery-3.3.1.min.js"></script>
    <script src="../../Content/js/jquery-ui.js"></script>
    <script src="../../Content/js/popper.min.js"></script>
    <script src="../../Content/js/bootstrap.min.js"></script>
    <script src="../../Content/js/owl.carousel.min.js"></script>
    <script src="../../Content/js/jquery.easing.1.3.js"></script>
    <script src="../../Content/js/aos.js"></script>
    <script src="../../Content/js/jquery.fancybox.min.js"></script>
    <script src="../../Content/js/jquery.sticky.js"></script>
    <script src="../../Content/js/isotope.pkgd.min.js"></script>
    <script src="../../Content/js/isotope.pkgd.min.js"></script>
    <script src="../../Content/js/main.js"></script>
</body>
</html>